body {
    background-color: aquamarine;
    border: 8px solid skyblue;
    margin: 2px;
    padding: 2px;
}

h1 {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px;
}

.purple {
    color: purple;
}

.green {
    color: green;
}

.yellow {
    color: yellow;
}

.orange {
    color: orange;
}

.pink {
    color: pink;
}

.salmon {
    color: salmon;
}   

.beige {
    color: beige;;
}


p {
    color: crimson;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 4px;
    margin: 8px;
    text-decoration: underline;
}

.purple, .green, .yellow, .orange, .pink, .salmon, .beige {
    font-size: 36px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 4px;
    margin: 16px;
    text-align: center;
    font-style: oblique;
    text-decoration: underline;
}

img, .video {
    border: 8px solid black;
    padding: 4px;
    margin: 8px;
    border-radius: 25px;
}

li {
    color: plum;
    font-style: italic;
    font-size: 16px;
    padding: 4px;
}

button, input {
    border: 2px solid burlywood;
    padding: 8px;
    margin: 16px;
}

a {
    text-decoration: none;
    padding: 4px;
    margin: 8px;
    color: fuchsia;
    font-size: 18px;
}

.click, .form {
    color: aquamarine;
    background-color: cadetblue;
    margin: 8px;
}

.container {
    margin: 8px;
    padding: 8px;
}
