.middle-container {
    display: flex;
    flex-wrap: wrap;
}

#find-recipes {
    margin: 0 0 20px 650px;
    color: teal;
    background-color: palegreen;
    border: 2px solid brown;
}

body {
    background-color: royalblue;
    padding: 2px;
    margin: 8px;
}

.top-container, .middle-container {
    margin: 0 0 20px 0;
}

#food-choice {
    border: 2px solid brown;
    background-color: palegreen;
}

img {
    border-radius: 25px;
    border: 4px solid brown;
    margin: 8px 0 0 0;
    width: 50%;
}

.healthy-selections {
    text-align: center;
    color: palegreen;
    font-size: 36px;
    font-style: italic;
    text-decoration: underline;
    
}

.title, .description {
color: navajowhite;
font-size: 24px;
font-style: italic;
}

.nav-bar {
    border: 4px solid cyan;
}

a {
    text-decoration: none;
    padding: 4px;
    margin: 8px;
    color: darkgoldenrod;
    font-size: 18px;
}

.recipe-holder {
    width: 33%;
}
